@media only screen and (min-width: 400px) {

body {
    background-color: white;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 20px;
}

.footer {
    position: fixed;
    list-style-type: none;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
}

#col-0 li {
    margin-right: 20px;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: left;
    text-decoration: none;
}
}